{% extends "base_logged_in_sidebar_t.html" %}
{% load static %}
{% block nav_widgets %}
        <div>
            <img src="{% static 'images/status_farm.png' %}" class="farm-title-img" title="Farm">
        </div>
        <div id="farm_name"></div>
        <div>
            <img src="{% static 'images/status_offline.png' %}" id="farm-connection-status" class="farm-title-img" title="Offline">
        </div>
        <div class="vertical-separator"></div>
        <div>
            <button id="map" class="btn widget-button" type="button" value="0" onclick="window.open('/','_self');">
                <img src="{% static 'images/map_gray.png' %}" id="map-icon" class="map-icon" data-toggle="tooltip" data-placement="bottom" title="Open Smart Farms map">
            </button>
        </div>
        <div class="vertical-separator"></div>
        <div class="dropdown digi-gray" id="simulation-container">
            <button class="btn dropdown-toggle" type="button" id="simulationMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img id="simulation-logo" class="banner-icon" src="{% static 'images/simulation.png' %}">
            </button>
            <div class="dropdown-menu shadow-sm simulation-controls-container" aria-labelledby="simulationMenuButton">
                <p>Simulation controls</p>
                <div class="card">
                    <p class="widget-title">Weather condition</p>
                    <p class="widget-desc">Control the weather condition of the farm. You can change it to see different temperature and moisture values.</p>
                    <div class="widget-button-container">
                        <button id="weather-sunny" class="btn widget-button weather-button" type="button" value="0">
                            <span id="weather-sunny-logo" class="icon-widget weather-icon fas fa-sun fa-2x" title="Change weather to sunny"></span>
                        </button>
                        <button id="weather-cloudy" class="btn widget-button weather-button" type="button" value="1">
                            <span id="weather-cloudy-logo" class="icon-widget weather-icon fas fa-cloud fa-2x" title="Change weather to cloudy"></span>
                        </button>
                        <button id="weather-rainy" class="btn widget-button weather-button" type="button" value="2">
                            <span id="weather-rainy-logo" class="icon-widget weather-icon fas fa-cloud-rain fa-2x" title="Change weather to rainy"></span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <p class="widget-title">Time</p>
                    <p class="widget-desc">Control how the time elapses in the farm. You can change it to see the irrigation events faster.</p>
                    <div class="widget-button-container">
                        <p id="current-time">00:00:00</p>
                        <div>
                            <button id="time-1" class="btn widget-button time-button" type="button" value="1">
                                <span id="time-speed1-logo" class="icon-widget time-icon fas fa-play fa-2x" title="Change speed to normal"></span>
                            </button>
                            <button id="time-2" class="btn widget-button time-button" type="button" value="50">
                                <span id="time-speed2-logo" class="icon-widget time-icon fas fa-forward fa-2x" title="Change speed to fast"></span>
                            </button>
                            <button id="time-3" class="btn widget-button time-button" type="button" value="250">
                                <span id="time-speed3-logo" class="icon-widget time-icon fas fa-fast-forward fa-2x" title="Change speed to faster"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-separator"></div>
{% endblock %}
{% block sidebar_content %}
<!-- Side-Nav -->
        <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
            <ul class="nav flex-column text-white w-100">
                
                <li  class="nav-item ">
                <a data-pjax href="/dashboard/" class="nav-link text-white"><i class="bx bxs-dashboard"></i><span class="mx-2">Dashboard</span></a>
                </li>

                <li  class="nav-item ">
                    <a href="#" class="nav-link text-white"><i class="bx bx-network-chart"></i><span class="mx-2">Network</span></a>
                </li>

                <li  class="nav-item ">
                    <a data-pjax href="/gateway/" class="nav-link text-white"><i class="bx bx-hdd"></i><span class="mx-2">Gateway</span></a>
                </li>

                <li  class="nav-item ">
                    <a data-pjax href="/tracker/" class="nav-link text-white"><i class="bx bx-cable-car"></i><span class="mx-2">Tracker</span></a>
                </li>

                <li  class="nav-item ">
                    <a data-pjax href="/history/" class="nav-link text-white"><i class="bx bx-user-check"></i><span class="mx-2">History</span></a>
                </li>

                <li  class="nav-item ">
                    <a href="#" class="nav-link text-white"><i class="bx bx-conversation"></i><span class="mx-2">Schedule</span></a>
                </li>   
                
            </ul>
        </div>
{% endblock %}

{% block page_content %}
  
        <div id="pjax-container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-12 col-xl-9">
                    <div class="column main-row">
                        <div class="card shadow-sm dashboard-map-card">
                            <div class="card-body">
                                <div class="dashboard-map">
                                    
                                    <div id="popup-info-map" class="popup popup-info shadow d-none">
                                        <div id="info-title" class="popup-title">Error</div>
                                        <div id="info-message" class="popup-text">-</div>
                                    </div>
                                    <div class="map-loading-wrapper element-grayed">
                                        <div class="devices-map">
                                            <div class="devices-map-toolbar">
                                                <div id="devices-map-status" class="devices-map-status">
                                                    <i class="fas fa-circle-notch fa-spin" style="margin-right: 2px;"></i> Refreshing values...
                                                </div>
                                                <div id="map-button-center" class="devices-map-button" onclick="centerStations()">
                                                    <img id="map-button-center-img" src="{% static 'images/map_center.png' %}" width="32px" data-toggle="tooltip" data-placement="bottom" title="Center stations in the map">
                                                </div>
                                                <div id="map-button-show-info" class="devices-map-button" onclick="setInfoWindowsVisible(true)">
                                                    <img id="map-button-show-info-img" src="{% static 'images/map_show_info.png' %}" width="32px" data-toggle="tooltip" data-placement="bottom" title="Show all stations information panels">
                                                </div>
                                                <div id="map-button-hide-info" class="devices-map-button" onclick="setInfoWindowsVisible(false)">
                                                    <img id="map-button-hide-info-img" src="{% static 'images/map_hide_info.png' %}" width="32px" data-toggle="tooltip" data-placement="bottom" title="Hide all stations information panels">
                                                </div>
                                            </div>
                                            <div id="devices-map" class="devices-map-control"></div>
                                        </div>
                                        <div id="map-error" class="map-error">
                                        </div>
                                    </div>
                                    <div class="map-card farm-status shadow-sm">
                                        <div class="small-title">General status:</div>
                                        <div class="status">Online stations: <span id="online-stations" class="status-value"><i class="fas fa-circle-notch fa-spin"></i></span></div>
                                        <div class="status">Irrigating stations: <span id="irrigating-stations" class="status-value"><i class="fas fa-circle-notch fa-spin"></i></span></div>
                                    </div>
                                    <div class="map-card map-legend shadow-sm">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="legend-img"><img class="box" src="{% static 'images/marker_station_off.png' %}"/></td>
                                                    <td class="legend-text">Online</td>
                                                </tr>
                                                <tr>
                                                    <td class="legend-img"><img class="box" src="{% static 'images/marker_station_offline.png' %}"/></td>
                                                    <td class="legend-text">Offline</td>
                                                </tr>
                                                <tr>
                                                    <td class="legend-img"><img class="box" src="{% static 'images/marker_station_on.png' %}"/></td>
                                                    <td class="legend-text">Irrigating</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-3">
                    <div class="column main-row">
                        <div class="row weather-row">
                            <div class="col-12">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h6 class="card-title">Weather station</h6>
                                        <div class="weather-station-container">
                                            <div class="weather-widget">
                                                <div class="current">
                                                    <div class="current-element current-icon"><span id="current-weather"><i class="fas fa-circle-notch fa-spin"></i></span></div>
                                                    <div class="current-element current-info"><span id="current-temp">-</span> ºC<br><span id="current-status">unknown</span></div>
                                                    <div class="weather-station-sensors">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td><span class="digi-icon-color fas fa-wind fa-2x"></span></td>
                                                                    <td><span class="digi-icon-color fas fa-cloud-rain fa-2x"></span></td>
                                                                    <td><span class="digi-icon-color fas fa-sun fa-2x"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span id="wind"><i class="fas fa-circle-notch fa-spin"></i></span> km/h</td>
                                                                    <td><span id="rain"><i class="fas fa-circle-notch fa-spin"></i></span> L/m²</td>
                                                                    <td><span id="radiation"><i class="fas fa-circle-notch fa-spin"></i></span> W/m²</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="forecast">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td id="day-1" class="forecast-day">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr class="forecast-day">
                                                                                <td><span id="day-1-name"><i class="fas fa-circle-notch fa-spin"></i></span></td>
                                                                            </tr>
                                                                            <tr class="forecast-icon">
                                                                                <td><span id="day-1-weather"><i class="fas fa-circle-notch fa-spin"></i></span></td>
                                                                            </tr>
                                                                            <tr class="forecast-max-temp">
                                                                                <td><span id="day-1-max">-</span> ºC</td>
                                                                            </tr>
                                                                            <tr class="forecast-min-temp">
                                                                                <td><span id="day-1-min">-</span> ºC</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td id="day-2" class="forecast-day">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr class="forecast-day">
                                                                                <td><span id="day-2-name"><i class="fas fa-circle-notch fa-spin"></i></span></td>
                                                                            </tr>
                                                                            <tr class="forecast-icon">
                                                                                <td><span id="day-2-weather"><i class="fas fa-circle-notch fa-spin"></i></span></td>
                                                                            </tr>
                                                                            <tr class="forecast-max-temp">
                                                                                <td><span id="day-2-max">-</span> ºC</td>
                                                                            </tr>
                                                                            <tr class="forecast-min-temp">
                                                                                <td><span id="day-2-min">-</span> ºC</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td id="day-3" class="forecast-day">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr class="forecast-day">
                                                                                <td><span id="day-3-name"><i class="fas fa-circle-notch fa-spin"></i></span></td>
                                                                            </tr>
                                                                            <tr class="forecast-icon">
                                                                                <td><span id="day-3-weather"><i class="fas fa-circle-notch fa-spin"></i></span></td>
                                                                            </tr>
                                                                            <tr class="forecast-max-temp">
                                                                                <td><span id="day-3-max">-</span> ºC</td>
                                                                            </tr>
                                                                            <tr class="forecast-min-temp">
                                                                                <td><span id="day-3-min">-</span> ºC</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row water-tank-row">
                            <div class="col-12">
                                <div class="card shadow-sm">
                                    <div id="popup-info-tank" class="popup popup-info shadow d-none">
                                        <div id="info-title-tank" class="popup-title">Farm offline</div>
                                        <div id="info-message-tank" class="popup-text">You cannot interact with the water tank controls until the farm is back online.</div>
                                    </div>
                                    <div class="card-body water-tank-card">
                                        <h6 class="card-title">Water tank</h6>
                                        <div class="water-tank-container row">
                                            <div class="water-tank col-6">
                                                <div id="tank-spinner" class="popup shadow">
                                                    <i class="fas fa-circle-notch fa-spin"></i>
                                                    <div class="popup-text">Loading...</div>
                                                </div>
                                                <div class="tank-img-loading-container element-grayed">
                                                    <img class="static-image" src="{% static 'images/water_tank.png' %}">
                                                    <div class="water-container">
                                                        <div class="water-space">
                                                            <div id="water"></div>
                                                        </div>
                                                    </div>
                                                    <p class="tank-level"><span id="level">-</span> %</p>
                                                </div>
                                            </div>
                                            <div class="tank-valve col-6">
                                                <div class="title">General valve:</div>
                                                <div id="toggle-spinner" class="popup shadow">
                                                    <i class="fas fa-circle-notch fa-spin"></i>
                                                    <div class="popup-text">Loading...</div>
                                                </div>
                                                <div class="tank-valve-loading-container d-flex align-items-center justify-content-center element-grayed">
                                                    <img id="tank-valve-img" class="static-image" src="{% static 'images/valve-closed.png' %}">
                                                    <div class="tank-valve-loader" onclick="toggleTankValve()" data-toggle="tooltip" data-placement="bottom" title="Force open/closing">
                                                        <input id="toggle-valve" type="checkbox" data-toggle="toggle" data-on="Open" data-off="Closed" data-onstyle="digi" data-offstyle="danger">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="refill-button" onclick="refillTank()">REFILL TANK</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}

{% block javascript %}
 
    <script type="text/javascript" src="{% static 'js/widgets.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
    <script>
     
    
    $(document).ready(function() {
        console.log('dom ready in sidebar_t.html');
    
        // Set up PJAX.
        if ($.support.pjax) {
            $.pjax.defaults.timeout = 20000;
            $.pjax.defaults.fragment = "#pjax-container";
            $(document).pjax("a[data-pjax]", "#pjax-container");

            $(document).on("pjax:beforeSend", function() {
                // Do not load new content if there are unsaved changes.
                if ($("#save-schedule").length && !$("#save-schedule").attr("disabled") && !confirm("There are unsaved changes. Do you want to exit?"))
                    return false;
            });

            $(document).on("pjax:send", function(e) {
                //setSelectedSection(e.currentTarget.activeElement);
                $("#pjax-container").hide();
  
            });

            $(document).on("pjax:complete", function() {

                $("#pjax-container").show();

            });
        }

        // Append the URL parameters to the section links.
        var params = new URLSearchParams(window.location.search).toString();
        if (params) {
            $("#sections li").each(function(i, n) {
                n.children[0].href += "?" + params;
            });
        }

        // Set the selected section.
       // setSelectedSection();

        // Set the name of the selected farm.
        $("#farm_name").html("{{ farm_name }}".toUpperCase());

        // Change the color of the map icon when hovering.
        $("#map").on({
            "mouseover" : function() {
                $("#map-icon").attr("src", "{% static 'images/map_green.png' %}");
            },
            "mouseout" : function() {
                $("#map-icon").attr("src", "{% static 'images/map_gray.png' %}");
            }
        });

        // Do not close the simulation dropdown when clicking inside.
        $(".simulation-controls-container").click(function(e) {
            e.stopPropagation();
        });

        // Change the simulation button behavior when the mouse is in or out.
        $("#simulation-container").on({
            "mouseover" : function() {
                $("#simulation-logo").attr("src", "{% static 'images/simulation_selected.png' %}");
                if (!$("#simulation-container").hasClass("digi-green")) {
                    $("#simulation-container").addClass("digi-green");
                }
                if ($("#simulation-container").hasClass("digi-gray")) {
                    $("#simulation-container").removeClass("digi-gray");
                }
            },
            "mouseout" : function() {
                $("#simulation-logo").attr("src", "{% static 'images/simulation.png' %}");
                if (!$("#simulation-container").hasClass("digi-gray")) {
                    $("#simulation-container").addClass("digi-gray");
                }
                if ($("#simulation-container").hasClass("digi-green")) {
                    $("#simulation-container").removeClass("digi-green");
                }
            }
        });

        // Add 'click' callbacks to the weather and time buttons.
        //$(".weather-button").click(setWeatherCondition);
        //$(".time-button").click(setTimeFactor);

        // Check the farm connection status.
        checkFarmConnectionStatus();

        // Get the weather condition and time factor from the irrigation controller.
       // getWeatherCondition();
       // getTimeFactor();

        // Check farm connectivity in 5 secs.
        setTimeout(checkFarmConnected, 5000, "schedule");
    });

    // Sets the selected section.
    function setSelectedSection(element=null) {
        // First, unselect all the sections.
        $("#sections li").each(function(i, n) {
            n.children[0].classList.remove("selected");
        });

        // Select the corresponding section.
        if (element != null) {
            element.classList.add("selected");
        } else {
            $("#sections li").each(function(i, n) {
                if (window.location.pathname == n.children[0].pathname) {
                    n.children[0].classList.add("selected");
                    return false;
                }
            });
        }
    }

    // Returns the controller ID.
    function getFarmID() {

        return '{{ farm_id }}';
    }
    
    </script>
{% endblock %}