{% extends 'base_logged_in_sidebar_t.html' %}

{% load static %}

{% block toptitle %} <h5>Welcome to Digi AWS IOT Demo Platform </h5> {% endblock %}

{% block sidebar_content %}
            <div class="d-flex p-3 text-white">
            Smart farms   
            </div>
            <div id="farms-list" >
            </div>
{% endblock %}
{% block page_content %}

  <!-- Create a container for the map. -->
  <div id='map' width="100%" style='height:600px'></div>


{% endblock %}

{% block javascript %}
    <!-- Local JS files and functions -->
        <!-- Local JS files and functions -->
     
    <script type="text/javascript" src="{% static 'js/portal-map.js' %}"></script>
    
    here's site config:
    {% for item in contexts %}
        
        {{ item.name }}
        {{ item.token }}
        <p>
        here is iotsites
        </p>
        {% for d in item.iotsites %}
        {{ d.name }}
        {% endfor %}
      
    {% endfor %}
   
   <script>
        

    // Initialize the map.
    initMap();
    showpopup();

     
    document.write((Math.random()*(15-10) + 10).toFixed(2))
   
    </script>
  


            
        </p>

{% endblock %}

