
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# npm
iotweb/package-lock.json
iotweb/package.json
iotweb/node_modules

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
iotweb/iotwebcommon/migrations/
iotweb/iotwebcore/migrations/
iotweb/members/migrations/
iotweb/iotwebcommon/__pycache__/
iotweb/iotwebcore/__pycache__/
iotweb/members/__pycache__/
# Jupyter Notebook
.ipynb_checkpoints


# Environments
.env
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


iotweb/iotwebcore/aws_certs
iotweb/iotwebcore/certs
