{% extends "base_logged_in_t.html" %}
{% load static %}

{% block sidebar %}
       {% if user.is_authenticated %}
        <!-- Side-Nav -->
        <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">

            <!-- d-* hides the Sidebar in smaller devices. Its items can be kept on the Navbar 'Menu' -->
            <div id="sidebar-contents">
                <!-- Bootstrap List Group -->
                {% block sidebar_content %}{% endblock %}
                
            </div>
        </div>
        <div class="p-1 my-container active-cont">
          <nav class="navbar top-navbar navbar-light bg-light px-5">
            <a class="fas fa-bars" id="menu-btn"><i class="bx bx-menu"></i></a>
            <div class="d-flex justify-content-between bg-light">{% block nav_widgets %}{% endblock %} </div>
          </nav>

        {{ else }}
        <div class="p-1 my-container active-cont"></div>
        {% endif %}
{% endblock %}