{% extends "base_logged_in.html" %}
{% load static %}

{% block sidebar %}
{% if user.is_authenticated %}
<!-- Side-Nav -->
<div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
<ul class="nav flex-column text-white w-100">
  <a href="#" class="nav-link h3 text-white my-2">
    控制中心
  </a>
  <li href="#" class="nav-link text-white">
    <i class="bx bxs-dashboard"></i>
    <span class="mx-2">管理面板</span>
  </li>
  <li href="#" class="nav-link text-white">
    <i class='bx bx-network-chart'></i>
    <span class="mx-2">网络管理</span>
  </li>
  <li href="#" class="nav-link text-white">
    <i class="bx bx-hdd"></i>
    <span class="mx-2">通信网关</span>
  </li>
  <li href="#" class="nav-link text-white">
    <i class="bx bx-cable-car"></i>
    <span class="mx-2">支架控制</span>
  </li>
  <li href="#" class="nav-link text-white">
    <i class="bx bx-user-check"></i>
    <span class="mx-2">历史数据</span>
  </li>

  <li href="#" class="nav-link text-white">
    <i class="bx bx-conversation"></i>
    <span class="mx-2">计划任务</span>
  </li>
</ul>

<span href="#" class="nav-link h4 w-100 mb-5">
  <a href=""><i class="bx bxl-instagram-alt text-white"></i></a>
  <a href=""><i class="bx bxl-twitter px-2 text-white"></i></a>
  <a href=""><i class="bx bxl-facebook text-white"></i></a>
</span>
</div>

{% endif %}

    
{% endblock %}